<html>
    <head>
        <title>Charlie's Blog</title>
    </head>
    <body>
      <h1>First Blogpost</h1>
      <h2>So exciting</h2>
      <h3>Very good</h3>
        <p>Halli-Hallo!</p>
        <p><em>Es funktioniert!</em> Wie du vielleicht bemerkt hast, hat jedes Element
          zu Beginn einen öffnenden Tag und einen zugehörigen schließenden Tag
          mit und innerhalb davon sind Elemente eingebettet. <br> Ein innerer Tag
          kann nicht außerhalb des umschließenden Tags geschlossen werden, die
          Reihenfolge muss immer stimmen. </p>
          <p> <strong>Wie du vielleicht bemerkt hast</strong>, hat jedes Element zu Beginn einen
            öffnenden Tag und einen zugehörigen schließenden Tag mit / und
            innerhalb davon sind Elemente eingebettet. Ein innerer Tag kann
            nicht außerhalb des umschließenden Tags geschlossen werden, die
            Reihenfolge muss immer stimmen.</p>

          <p> <a href="https://djangogirls.org">Link</a> </p>

          <p><ul><li>Erster Punkt</li><li>Zweiter Punkt</li></ul></p>

          <div>
           <h1><a href="/">Django Girls Blog</a></h1>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">My first post</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">My second post</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
       </div>





    </body>
</html>
